
footer {
  background: #fff4e7;
  margin-top: 50px;
  text-align: center;
  border-radius: 8px;
  height: 100px;
}
footer p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #424242;
}