
@media screen and (max-width: 668px) 
{ body {
      margin: 0 auto;
    }

header,main{
    width: 100%;
    margin: 0 auto;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin-bottom: 50px;
}
.hed-div-line2{
    padding: 30px;
    margin: 0 auto;
    flex-direction: column-reverse;
}
.hed-img{
    width: 100px;
    height: 120px;
}
.main-sec1{
    gap: 40px;
    padding: 0 30px;
    flex-direction: column;
}